VITE_GATEWAY_URL=http://localhost:8089
VITE_CASDOOR_SERVER_URL=http://localhost:8000
VITE_CASDOOR_CLIENT_ID=f76a11192a4d7a9ed1db
VITE_CASDOOR_CLIENT_SECRET=
VITE_CASDOOR_APP_NAME=fraud-application
VITE_CASDOOR_ORG_NAME=fraud-service
